<div class="media">
  <a href="#" class="pull-left">
    <% if job.photos.size > 0 %>
      <img class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="<%= job.photos.first.upload.url(:thumb) %>">
    <% else %>
      <img class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="http://placehold.it/64x64&text=No+Photo">
    <% end %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <% if public %>
        <%= job.title %>
      <% else %>
        <%= link_to job.title, buyer_job_path(current_user.uuid, job.id) %> 
      <% end %>
      <small><%= job.category.parent.name %> | <%= job.category.name %></small>
      <% unless public %>      
        <% if job.status == POSTED %>
          <span class="label label-success pull-right"><%= job.status_name %></span>
        <% elsif job.status == DRAFT %>
          <span class="label label-warning pull-right"><%= job.status_name %></span>
        <% end %> 
      <% end %>
    </h4>
    <% if job.budget.present? %>
      <%= number_to_currency(job.budget, :precision => 0) %>
    <% else %>
      Not Disclosed
    <% end %> | 
    <% if job.start_date.present? or job.end_date.present? %>
      <%= job.start_date.nil? ? "Undecided" : job.start_date.readable_inspect %> to <%= job.end_date.nil? ? "Undecided" : job.end_date.readable_inspect %>
    <% else %>
      No Timelines
    <% end %>
    <br />
    <%= job.description %>
  </div>
</div>