<div class="hero-unit">
  <h1><%= @user.name%></h1>
  <div>
    <p style="margin: 0;"><b>Company:</b>  <%= @user.service_provider_detail.company_name %></p>
    <p><b>Contact:</b>  <%= @user.service_provider_detail.contact_number %></p>
    <p>
      <% if @user == current_user %>
        <a href="<%= edit_service_provider_path(current_user.uuid) %>" class="btn btn-primary">Edit Profile</a>
      <% end %>
    </p>
  </div>
  <hr />
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">About Me</h4>
      <%= @user.about_me %>
    </div>
  </div>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">Services Offered</h4>
      <ul>
        <% @user.services.each do |service| %>
          <li><%= service.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">Certifications</h4>
      <ul>
        <% @user.certifications.each do |certificate| %>
          <li><%= certificate.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% if @user.service_provider_detail.insurance %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">Insurance</h4>
        <%= number_to_currency(@user.service_provider_detail.insurance_amount, :precision => 0) %>
      </div>
    </div>
  <% end %>
  <div class="media uploaded-photo-gallery">
    <div class="media-body">
      <h4 class="media-heading">
        <div>Photos</div>
        <% if @user == current_user %>
          <a href="<%= service_provider_photos_path(@user.uuid) %>" class="btn btn-primary pull-right">Manage Photos</a>
        <% end %>
      </h4>
      <div class="row-fluid">
        <% @user.photos.in_groups_of(4, false).each do |photo_arr| %>
          <ul class="thumbnails">
            <% photo_arr.each do |photo| %>
              <li class="span3">
                <a class="thumbnail" href="#">
                  <img alt="260x180" src="<%=photo.upload.url(:small)%>">
                </a>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>